{{define "devs"}}
{{template "header"}}
<main>
        <div class="container">
            <div class="jumbotron bg-white">
                <h1 class="display-4">Разработка</h1>
            </div>
            <div class="container" style="height: 50%;">
                <div class="row">
                    <div class="col">
                        <div>
                            <h5 id="item-1">GitHub : </h5>
                            <a href="https://github.com/Naiks10/KP_I-2-16_12"> https://github.com/Naiks10/KP_I-2-16_12 </a>
                            <br>
                            <h5 id="item-1">Быстрый старт</h5>
                            <ul>
                                <li> git clone https://github.com/Naiks10/KP_I-2-16_12</li>
                            </ul>
                            <br>
                            <h5>Узнали об ошибке? Репорт <a href="https://github.com/Naiks10/KP_I-2-16_12/issues">СЮДА</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{{template "footer"}}
{{end}}