{{define "downloads"}}
{{template "header"}}
<div  class="container d-flex align-items-center" style="height: 700px">
    <div class="row d-flex align-items-center">
      <div class="col">
            <img src="/assets/img/NEW2.png" width="850" height="550" class="d-inline-block align-top mt-5 ml-n5" alt="">
      </div>
      <div class="col d-flex align-items-center">
        <div class="container">
            <div class="row">
                <h2 class="row"><p>Download GOodIDEa</p></h2>
            </div>
                <div class="row">
        <div class="container">
            <a class="dropdown-header" href="#">Choose OS</a>
            
            <a class="dropdown-item" href="#">Windows x32 (.exe)</a>
                    <a class="dropdown-item" href="#">Windows x64 (.exe)</a>           
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Linux (.deb)</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Mac OS X (.dmg)</a>
                </div>
        
        </div>
              </div>
      </div>
    </div>
</div>
{{template "footer"}}
{{end}}