{{define "getstart"}}
{{template "header"}}
<main>
    <div class="container">
        <div class="jumbotron bg-white">
            <h1 class="display-4">Есть вопросы? (FAQ)</h1>
        </div>
        <div class="container" style="height: 50%;">
            <div class="row">
                <div class="col">
                    <div>
                        <h4 id="item-1">Ошибка Qt_XXX.dll не найден, что делать?</h4>
                        <p> Скачайте базовый пакет QT Deploy </p>

                        <h5 id="item-1-1">Item 1-1</h5>
                        <p>Как уже было сказано выше, художественный стиль наиболее часто используется в художественной
                            литературе: романах, новеллах, рассказах, повестях и прочих литературных жанрах. Этому стилю
                            не присущи оценочные суждения, сухость и официальность, которые свойственны научному и
                            официально-деловому стилям. Вместо этого для него характеры повествование и передача
                            мельчайших деталей, чтобы сформировать в воображении читателя филигранную форму передаваемой
                            мысли. </p>

                        <h5 id="item-1-2">Item 2-2</h5>
                        <p>Как уже было сказано выше, художественный стиль наиболее часто используется в художественной
                            литературе: романах, новеллах, рассказах, повестях и прочих литературных жанрах. Этому стилю
                            не присущи оценочные суждения, сухость и официальность, которые свойственны научному и
                            официально-деловому стилям. Вместо этого для него характеры повествование и передача
                            мельчайших деталей, чтобы сформировать в воображении читателя филигранную форму передаваемой
                            мысли. </p>

                        <h4 id="item-2">Item 2</h4>
                        <p>Как уже было сказано выше, художественный стиль наиболее часто используется в художественной
                            литературе: романах, новеллах, рассказах, повестях и прочих литературных жанрах. Этому стилю
                            не присущи оценочные суждения, сухость и официальность, которые свойственны научному и
                            официально-деловому стилям. Вместо этого для него характеры повествование и передача
                            мельчайших деталей, чтобы сформировать в воображении читателя филигранную форму передаваемой
                            мысли. </p>

                        <h4 id="item-3">Item 3</h4>
                        <p>Как уже было сказано выше, художественный стиль наиболее часто используется в художественной
                            литературе: романах, новеллах, рассказах, повестях и прочих литературных жанрах. Этому стилю
                            не присущи оценочные суждения, сухость и официальность, которые свойственны научному и
                            официально-деловому стилям. Вместо этого для него характеры повествование и передача
                            мельчайших деталей, чтобы сформировать в воображении читателя филигранную форму передаваемой
                            мысли. </p>

                        <h5 id="item-3-1">Item 3-1</h5>
                        <p>Как уже было сказано выше, художественный стиль наиболее часто используется в художественной
                            литературе: романах, новеллах, рассказах, повестях и прочих литературных жанрах. Этому стилю
                            не присущи оценочные суждения, сухость и официальность, которые свойственны научному и
                            официально-деловому стилям. Вместо этого для него характеры повествование и передача
                            мельчайших деталей, чтобы сформировать в воображении читателя филигранную форму передаваемой
                            мысли. </p>

                        <h5 id="item-3-2">Item 3-2</h5>
                        <p>Как уже было сказано выше, художественный стиль наиболее часто используется в художественной
                            литературе: романах, новеллах, рассказах, повестях и прочих литературных жанрах. Этому стилю
                            не присущи оценочные суждения, сухость и официальность, которые свойственны научному и
                            официально-деловому стилям. Вместо этого для него характеры повествование и передача
                            мельчайших деталей, чтобы сформировать в воображении читателя филигранную форму передаваемой
                            мысли. </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{template "footer"}}
{{end}}