{{define "header"}}
    
<html>
    <head>
            <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
            <!--link rel="stylesheet" href="/assets/css/my.css"-->
    </head>
    <body>
      <header>
        <nav id="header" class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
            <a class="navbar-brand" href="#">
                <img src="/assets/img/im.png" width="30" height="30" class="d-inline-block align-top" alt="">
                <div>
                  <a class="text-info font-weight-bold">SIRIN</a>
                </div>
              </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Главная<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/getstart">FAQ</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Загрузки
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/downloads">Скачать</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/devs">Разработка</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about" tabindex="-1" aria-disabled="true">О проекте</a>
                </li>
              </ul>
            </div>
          </nav>
        </header>
{{end}}