{{define "index"}}
{{template "header"}}
<div class="container mt-5">
    <div class="jumbotron bg-white">
        <h1 class="display-4">Welcome with a good idea!</h1>
        <p class="lead">This project was created for GoLang-programmers by GoLang-programmers</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-info btn-lg" href="#" role="button">About GOodIDEa</a>
        </p>
      </div>
    <div  class="container d-flex align-items-center" style="height: 700px">
        <div class="row d-flex align-items-center">
          <div class="col">
                <img src="/assets/img/1.png" width="900" height="585" class="d-inline-block align-top mt-5 ml-n5" alt="">
          </div>
          <div class="col d-flex align-items-center">
          <div class="mx-auto">
            <H2><p>Getting started with a new GO IDE!</p></H2>
            <p>Our IDE can help with all of yout projects with GoLang. Remember, all only in your hands!</p>
            <button type="button" class="btn btn-info">Let's GO!</button>
          </div>
          </div>
        </div>
    </div>
    <hr class="my-4">
    <div  class="container d-flex align-items-center" style="height: 700px">
        <div class="row d-flex align-items-center">
          <div class="col">
                <img src="/assets/img/1.png" width="900" height="585" class="d-inline-block align-top mt-5 ml-n5" alt="">
          </div>
          <div class="col d-flex align-items-center">
          <div >
            <H2><p>Download IDE and find more extensions special for you!</p></H2>
            <p>Our IDE can help with all of yout projects with GoLang. Remember, all only in your hands!</p>
            <button type="button" class="btn btn-info">Download</button>
          </div>
          </div>
        </div>
    </div>
</div>
{{template "footer"}}
{{end}}